<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/better-tema.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a href="#" class="navbar-brand">Better</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                Menu
            </button> 
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">                    
                    <li class="dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Descubra</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item text-center">Paisagem</a></li>
                            <li><a href="#" class="dropdown-item">Tecnologia</a></li>
                            <li><a href="#" class="dropdown-item">Abstrato</a></li>
                            <li><a href="#" class="dropdown-item">Animais</a></li>
                            <li><a href="#" class="dropdown-item">Comida</a></li>
                            <li><a href="#" class="dropdown-item">Pessoas</a></li>
                        </ul>
                    </li>   
                    <li><a href="#" class="nav-link">Preços</a></li>
                    <li><a href="#" class="nav-link">Cadastre-se</a></li>
                    <li><a href="#" class="nav-link">Login</a></li>
                </ul>
            </div>       
        </div>
    </nav>

    <main>
        <section class="jumbotron">
            <div class="container">
                <h1>Momentos Perfeitos</h1>
                <p>Loris ipessos dolores</p>    
                <form class="input-group" action="#" method="post">
                    <input type="search" name="search" id="search" class="form-control" placeholder="Procure o que você encontra...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                    </span>
                </form>
            </div>
        </section>

        <section class="container">
            <h2 class="text-center">Imagens bonitas, lindas e perfeitas</h2>
            <p class="text-center">Lorispisso esquisitamet ananab olebac</p>
            
            <div class="row">

                <a class="col-md-4 col-lg-3" href="#">
                    <figure>
                        <img class="img-fluid img-thumbnail" src="./img/girassois.jpg" alt="Girassóis">
                        <figcaption class="text-center">
                            Girassóis
                        </figcaption>
                    </figure>
                </a>

                <a class="col-md-4 col-lg-3" href="#">
                    <figure>
                        <img class="img-fluid img-thumbnail" src="./img/garota-silhueta.jpg" alt="Silhueta Garota">
                        <figcaption class="text-center">
                            Silhueta Garota
                        </figcaption>
                    </figure>
                </a>

                <a class="col-md-4 col-lg-3" href="#">
                    <figure>
                        <img class="img-fluid img-thumbnail" src="./img/mesa-designer.jpg" alt="Mesa de designer">
                        <figcaption class="text-center">
                            Mesa de designer
                        </figcaption>
                    </figure>
                </a>

                <a class="col-md-4 col-lg-3" href="#">
                    <figure>
                        <img class="img-fluid img-thumbnail" src="./img/pipoca.jpg" alt="Pipoca e não piroca.">
                        <figcaption class="text-center">
                            Pipoquinha
                        </figcaption>
                    </figure>
                </a>

                <a class="col-md-4 col-lg-3" href="#">
                    <figure>
                        <img class="img-fluid img-thumbnail" src="./img/garota-feliz.jpg" alt="Garota feliz">
                        <figcaption class="text-center">
                            Menina felizona.
                        </figcaption>
                    </figure>
                </a>

                <a class="col-md-4 col-lg-3" href="#">
                    <figure>
                        <img class="img-fluid img-thumbnail" src="./img/sunset.jpg" alt="Sol poente">
                        <figcaption class="text-center">
                            Sol se pondo
                        </figcaption>
                    </figure>
                </a>

                <a class="col-md-4 col-lg-3" href="#">
                    <figure>
                        <img class="img-fluid img-thumbnail" src="./img/cabra.jpg" alt="Cabra">
                        <figcaption class="text-center">
                            Fortemente nervosa
                        </figcaption>
                    </figure>
                </a>

                <a class="col-md-4 col-lg-3" href="#">
                    <figure>
                        <img class="img-fluid img-thumbnail" src="./img/ciclista.jpg" alt="ciclista">
                        <figcaption class="text-center">
                            Bicicleteiro
                        </figcaption>
                    </figure>
                </a>
                
            </div>
        </section>
        
        <section class="hall pt-3">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-5">
                        <h2>Hall da fama do mês de Janeiro</h2>
                        <p>Por votação do público e número de downloads, escolhemos todo mês as fotografias mais baixadas do mês anterior e disponibilizamos de graça.</p>
                        <button class="btn btn-lg btn-primary">
                            Quero botar!
                        </button>
                    </div>  
                    <figure class="col-lg-7 mt-3 mb-3">
                        <img class="img-fluid img-thumbnail float-right" src="./img/girassois.jpg" alt="Girassóis no campo">
                        <figcaption class="text-right">
                           Girassóis
                        </figcaption>
                    </figure>
                </div>
        </section>

        <section class="reviews container pt-5">
            <h2 class="mb-3">Reviews</h2>

            <div class="row">
                <div class="media col-md-6 mb-2">
                    <img class="mr-2" src="./img/frank.jpg" alt="Shan Blango" height="128" width="128">

                    <div class="media-body">
                        <h3 class="h5">Shan Blango</h3>
                        <p>Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. 
                            Aenean sit amet nisi. Copo furadis é disculpa de bebadis, arcu quam euismod magna. </p>
                    </div>
                </div>           

                <div class="media col-md-6 mb-2">
                    <img class="mr-2" src="./img/Jones_Sins.jpg" alt="Jones Pecados" height="128" width="128">

                    <div class="media-body">
                        <h3 class="h5">Jonathan Pecados</h3>
                        <p>Nunca vi algo tão profundo e de manuseio tão confortável quanto este webportal.</p>
                    </div>
                </div>   

                <div class="media col-md-6 mb-2">
                    <img class="mr-2" src="./img/banano.jpg" alt="Ban Nanno" height="128" width="128">

                    <div class="media-body">
                        <h3 class="h5">Ban Nanno</h3>
                        <p>&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;
                            &#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;
                            &#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;
                            &#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;&#127820;
                        </p>
                    </div>
                </div> 

                <div class="media col-md-6 mb-2">
                    <img class="mr-2" src="./img/harry_potato.jpg" alt="Haroldo Batatotter" height="128" width="128">

                    <div class="media-body">
                        <h3 class="h5">Haroldo Batatotter</h3>
                        <p>Wingardium Batatowssa! &#129668;</p>
                    </div>
                </div> 


            </div>
        </section>

        <section class="plano pt-5 pb-3">
            <div class="container">
                <h2 class="mb-2">Planos para todos os bolsos!</h2>

                <div class="row">

                    <div class="col-md-4">
                        <div class="card text-center">
                            <h3 class="card-header text-uppercase">Silver</h3>
                            <div class="card-body">
                                <p>R$:19,90</p>

                                <ul class="list-group list-group-flush mb-2">
                                    <li class="list-group-item">150 fotos</li>
                                    <li class="list-group-item">3 adesivos</li>
                                    <li class="list-group-item">X camisetas</li>
                                </ul>

                                <button class="btn btn-secondary btn-lg">
                                    Quero este!
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-center">
                            <h3 class="card-header text-uppercase bg-primary text-light">Crystal</h3>
                            <div class="card-body">
                                <p>R$:99,90</p>

                                <ul class="list-group list-group-flush mb-2">
                                    <li class="list-group-item">17000 fotos</li>
                                    <li class="list-group-item">42 adesivos</li>
                                    <li class="list-group-item">1 camisetas</li>
                                </ul>

                                <button class="btn btn-secondary btn-lg">
                                    Quero este!
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-center">
                            <h3 class="card-header text-uppercase">Gold</h3>
                            <div class="card-body">
                                <p>R$:49,90</p>

                                <ul class="list-group list-group-flush mb-2">
                                    <li class="list-group-item">3000 fotos</li>
                                    <li class="list-group-item">15 adesivos</li>
                                    <li class="list-group-item">X camisetas</li>
                                </ul>

                                <button class="btn btn-secondary btn-lg">
                                    Quero este!
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>

    <footer class="py-4">
        <div class="container d-flex justify-content-between align-items-center">
            <span>© 2023 Todos os direitos reservados</span>

            <ul class="social">
                <li><a href="#facebook" class="text-hide">Facebook</a></li>
                <li><a href="#twitter" class="text-hide">Twitter</a></li>
                <li><a href="#instagram" class="text-hide">Instagram</a></li>
            </ul>
        </div>
    </footer>

    <script src="./js/jquery.js"></script>
    <script src="./js/bootstrap.js"></script>
</body>
</html>
