{% extends 'base.html' %}
{% load static %}
{% block content %}        
    <section class="mt-3">
        <header>
            <h1>Erro 404</h1>
        </header>
        <div class="container sobre py-2 border border-secondary">          
            <div class="blck_bg"></div>
            <div class="text-center">
              <figure>
                <img class="img-fluid" src="{% static 'img/cat404.png' %}" alt="Figura de um gato representando um erro de página não encontrada">
              </figure>
              <p>Parece que a página ou recurso que você busca não foi encontrado, é uma pena. <br>
              Tente voltar a página, ou usar o menu, para poder continuar navegando! &#128521</p>
            </div>
        </div>
    </section>
{% endblock %}