{% load static %}
<nav class="container navbar navbar-expand-md fixed-top navbar-dark footer">
    <div class="container-fluid">
      <span class="navbar-brand"><img class="img-fluid icontop" src="{% static 'img/arrow_icon.svg' %}" alt=""></span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-expanded="false">Assuntos</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">link1</a></li>
                <li><a class="dropdown-item" href="#">link2</a></li>
                <li><a class="dropdown-item" href="#">link3</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Teste os modelos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>                      
      </div>
    </div>
</nav>