<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/bootstrap.css">
    <link rel="stylesheet" href="./static/css/estilo.css">
    <title>Titulo</title>    
</head>
<body>    
    <nav class="container navbar navbar-expand-md fixed-top navbar-dark footer">
        <div class="container-fluid">
          <span class="navbar-brand"><img class="img-fluid icontop" src="./static/img/arrow_icon.svg" alt=""></span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-expanded="false">Assuntos</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">link1</a></li>
                    <li><a class="dropdown-item" href="#">link2</a></li>
                    <li><a class="dropdown-item" href="#">link3</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Teste os modelos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>                      
          </div>
        </div>
    </nav>

    <main class="container pt-5 pb-2 sobre">
      <div class="fundo_sobre"></div>

    <!-- Início do Conteúdo-->

    <section class="mt-3">
        <header>
            <h1>Título da página</h1>
        </header>
        <div class="container sobre py-2 border border-secondary">          
            <div class="blck_bg"></div>
            <div>
                blá blá blá
            </div>
        </div>
    </section>
    
    <!-- Fim do Conteúdo -->
    
    </main>

    <footer class="footer container">
      <div>
        <div  class="p-2 row">
          <div class="col-md-9 col-sm text-start">
            <h2 class="h6 my-0">Famous last words</h2>
            <p class="my-0">lorem Ipsum</p>
          </div>
          <div class="col-md-3 col-sm text-end">
            <h2 class="h6 my-0">Tecnologias</h2>
            <a target="_blank" href="https://www.python.org/"><img class="icon" src="./static/img/python_icon.svg" alt="Logotipo do Python"></a>
            <a target="_blank" href="https://www.djangoproject.com/"><img class="icon" src="./static/img/django_icon.svg" alt="Logotipo do Django"></a>
            <a target="_blank" href="https://www.mysql.com/"><img class="icon" src="./static/img/mysql_icon.svg" alt="Logotipo do MySQL"></a>
            <a target="_blank" href="https://getbootstrap.com/"><img class="icon" src="./static/img/bootstrap_icon.svg" alt="Logotipo do Bootstrap"></a>
          </div>
        </div>
      </div>
      <div class="m-0 p-0">
        <p class="text-center small_font m-0 p-0">Marco Cruz - ©2023</p>
      </div>
    </footer>

    <script src="./static/js/bootstrap.bundle.js"></script>    
</body>
</html>